export(genePheno)
export(geneSurv)
export(patientRisk)
export(predict_PatientRisk) 
export(predict_SurvCurve)
export(prefilterSAM)

import(methods)
import(ROCR)
import(siggenes)
import(Biobase)
import(survival)
import(glmnet)
import(survcomp)
import(scales)
import(Rdpack)
import(ggplot2) 
import(SummarizedExperiment)


importFrom(SummarizedExperiment, assay, colData)
importFrom(utils, setTxtProgressBar, txtProgressBar)
importFrom(gplots, textplot)
importFrom(graphics, abline, axis, boxplot, hist, image, layout, 
           legend, lines, mtext, par, pie, points, polygon, 
           rect, segments, stripchart, text, title, box, grid, strwidth)
importFrom(utils, combn, write.table)
importFrom(grDevices, grey)
importFrom(stats, approx, median, na.omit, pchisq, predict, quantile, runif, supsmu, symnum, wilcox.test)
importFrom(utils, capture.output, flush.console, head)
importFrom(Rdpack,reprompt)